<!DOCTYPE html>
<html lang="en">

<head>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.css' rel='stylesheet' />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Game Time</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/small-business.css" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        html, body { height: 100%; }
        #map { height: 500px; }
    </style>

    <!-- source links for the table -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <body class="w3-container">

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-6">
                <!-- <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt=""> -->

                <div id="map"></div>
                <div id='map' style='width: 400px; height: 300px;'></div>
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1Ijoic2YtdHJlYXN1cmUiLCJhIjoiY2lzeHQweHo5MGFrejJ6a2hoZXpybWdvZSJ9.9YGAsX45E8bY-r_MGA92Ew';
                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v9'
                    });
                </script>
                </div>
            <!-- /.col-md-8 -->
            <div class="col-md-6">
                <h1>Scavenger Hunt!</h1>
                <h3>{{ team_name }}</h3>
                <table class="w3-table w3-centered w3-table-all">
                    <tr>
                      <th>Clue #</th>
                      <th>Question</th>
                      <th>Completion Status</th>
                    </tr>
                    {% set count = 1 %}
                    {% for t in things %}
                        <tr>
                            <!-- pass in the jinja for loop here -->
                          <td>{{ count }}</td>
                          <td>{{ t.clue }}</td>
                          <td>
                            {{ t.question }}
                          </td>
                          <td id="answer{{ count }} data=">
                            <a class="btn btn-primary btn-lg clue-answer" href="#">Check Answer!</a>
                            <input class="input-answer" type="text" hidden>
                            <a class="btn btn-primary btn-sm answer" href="/results" hidden>Submit</a>
                          </td>
                            <!-- end the jinja for loop here -->
                        </tr>
                        {% set count = count + 1 %}
                    {% endfor %}
                </table>
            </div>
            <!-- /.col-md-4 -->
        </div>

        </div>
        <!-- /.row -->

<!-- here is your table -->

<h2>Leaderboard</h2>
<p>Our all-time top 10 teams!!</p>

<table class="w3-table w3-centered w3-table-all">
<tr>
  <th>Team Name</th>
  <th>Time</th>
</tr>
{% for team in leaderboard | sort(attribute='total_minutes') %}
    <tr>
        <!-- pass in the jinja for loop here -->
      <td>{{ team.team_name }}</td>
      <td>{{ team.total_minutes }}</td>
        <!-- end the jinja for loop here -->
    </tr>
{% endfor %}
</table>
<!-- End the table -->

    

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>



</body>
<script type="text/javascript">

    function checked(results) {
        if (results.indexOf("Correct!") != -1) {
            var count = results[0];
        } else {
            console.log("No")
        }
    }

    $('.clue-answer').on('click', function(evt) {
        $(this).nextUntil('tr').show();
        $(this).hide();
    })

    $('.answer').on('click', function(evt) {
        var info = {
            'answer': $(this).prev().val(),
            'question': $(this).parent().prev().text(),
            'count': $(this).parent().prev().prev().prev().text()
        };

        // $.get('/results', info, checked);
    })

</script>
</html>
